body:has(#work) {
  background: black;
  height: auto;
  color: white;
}

#header:has(~#work) .navigation-link {
  text-decoration-color: #D9D000;
  color: #D9D000;
}

#header:has(~#work) .navigation-link:visited {
  color: #9F38FE;
  text-decoration-color: #9F38FE;
}

#header:has(~#work) .body-text {
  color: rgba(255, 255, 255, 1);
}

.cases-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 180px;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.landing-page-case {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: #111;
  transition: all .15s ease-out;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  position: relative;
}

/* .landing-page-case:after {
  content: linear-gradient(0deg, rgba(37, 39, 44, 0.4) 4.22%, rgba(39, 40, 42, 0.4) 19.09%, rgba(50, 52, 54, 0.4) 50.32%, rgba(52, 54, 56, 0.4) 73.31%, rgba(44, 45, 49, 0.4) 95.54%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
} */

.landing-page-case:hover {
  background: #131313;
  box-shadow: 0 1px 10px rgba(250, 250, 253, .1);
}