body:has(#work) {
  background: black;
  height: auto;
  color: white;
}

#header:has(~#work) .navigation-link {
  text-decoration-color: #D9D000;
  color: #D9D000;
}

#header:has(~#work) .navigation-link:visited {
  color: #9F38FE;
  text-decoration-color: #9F38FE;
}

#header:has(~#work) .body-text {
  color: rgba(255, 255, 255, 1);
}

.cases-row {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 2.5vw, 50px);
  margin-bottom: 180px;
  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.landing-page-case {
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  background: #111;
  transition: all .25s ease-in-out;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  position: relative;
  width: 100%;
  @media (min-width: 1024px) {
    max-width: calc(50% - calc(clamp(30px, 2.5vw, 50px)/2));
  }
}


.case-image {
  transition: transform 10s ease-in-out;
}

.case-image,
.case-image + div {
  margin-top: 40px;
}

.landing-page-case.seb .case-image {
  transform: scale(1.05) translateY(9px);
}

.landing-page-case.seb:hover .case-image {
  transform: scale(1.1) translateY(6px);
}

.landing-page-case:hover .case-image {
  transform: scale(1.04);
}

.landing-page-case em {
  color: rgba(255, 255, 255, .6);
}

.landing-page-case > p:first-of-type {
  transition: color .33s;
}

/* .landing-page-case:after {
  content: linear-gradient(0deg, rgba(37, 39, 44, 0.4) 4.22%, rgba(39, 40, 42, 0.4) 19.09%, rgba(50, 52, 54, 0.4) 50.32%, rgba(52, 54, 56, 0.4) 73.31%, rgba(44, 45, 49, 0.4) 95.54%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
} */

.landing-page-case:hover {
  background: #000;
}

.landing-page-case:hover > div p {
  color: rgba(255, 255, 255, .6);
}