body:has(#klarna-mp-ui) {
  background-color: #F6F5F3;
}

#header:has(~#klarna-mp-ui) .navigation-link {
  text-decoration-color: #0000EE;
  color: #0000EE;
}

#header:has(~#klarna-mp-ui) .navigation-link:visited {
  color: #551A8B;
  text-decoration-color: #551A8B;
}

#header:has(~#klarna-mp-ui) .body-text {
  color: rgba(0, 0, 0, 1);
}

#klarna-mp-ui .text-large > em,
#klarna-mp-ui .text-medium > em,
#klarna-mp-ui .section-title > em,
#klarna-mp-ui .subtitle-text > em,
#klarna-mp-ui .text-xlarge > em,
#klarna-mp-ui .text-small > em
{
  color: rgba(0, 0, 0, .65);
}

.section-hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: clamp(37px, 5vw, 70px) auto 0;
  max-width: 1000px;
  position: relative;
}

.section-introduction {
  margin: 0 auto;
  text-align: center;
}

.hero-image {
  /* width: clamp(150px, 60vw, 830px); */
  width: clamp(280px, 73vw, 830px);
  display: inline-flex;
}

.mpui-section {
  max-width: 1100px;
  width: 100%;
}

.mpui-section.image {
  width: 100%;
}

.hero-image.first {
  margin-left: -20%
}

.hero-image.second {
  margin-top: -17%;
  margin-left: 20%;
}

.hero-image > img {
  /* width: clamp(280px, 57vw, 830px); */
  width: 100%;
}

.hero-title {
  max-width: 590px;
}

.hero-title + p {
  margin-top: clamp(10px, 1vw, 30px);
}

.project-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(10px, 1.15vw, 20px);
  justify-content: center;
  margin-top: 37px;
}

.project-tag-container .tag {
  background: rgba(0, 0, 0, .04);
  letter-spacing: -1%;
  padding: clamp(8px, 1.05vw, 16px) clamp(16px, 1.55vw, 20px);
}

.column-half {
  max-width: 690px;
  width: 100%;
  margin-right: 50px;
}

.column-half + .column-half {
  margin-left: 50px;
}

.column-half img {
  width: 100%;
}

.project-tag-container .body-text + .body-text {
  margin-top: 0;
}

.custom-offset-filters-image {
  max-width: 1000px;
}

.custom-offset-inputs-image {
  max-width: 440px;
}

@media screen and (max-width: 721px) {

  .column-6.mbp-col-1-6 {
    display: none;
  }

  .column-6.mbp-col-2-6 {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  .custom-offset-image-6-tables {
    margin-bottom: calc(-1 * clamp(80px, 17vw, 100px));
  }
}

@media screen and (max-width: 721px) {

  .column-6.mbp-720-col-1 {
    display: none;
  }

  .column-6.mbp-720-col-2 {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  .custom-offset-image-6-tables > img {
    transform: scale(1.5);
    margin-bottom: 4vw;
  }

}

@media screen and (max-width: 767px) {

  .row.mbp-767 {
    flex-direction: column;
    gap: clamp(24px, 5vw, 70px);
  }

  .mbp-767-filters-col-1 {
    width: 100%;
    justify-content: center;
    max-width: 500px;
  }

.mbp-767-inputs-col-1 {
    width: 100%;
    justify-content: center;
    max-width: 500px;
    order: 2;
  }

 .mbp-767-inputs-col-2 {
    max-width: clamp(288px, 47vw, 360px);
    width: 100%;
  }

  .mbp-767-dropdowns-col-1 {
    width: 100%;
    justify-content: center;
    max-width: 360px;
  }

  .mbp-767-dropdowns-col-2 {
    width: 100%;
    max-width: 360px;
  }

  .mbp-767-custom-offset-5-text {
    width: 100%;
    justify-content: center;
    max-width: 500px;
    top: clamp(230px, 70vw, 370px);
    margin-bottom: clamp(160px, 60vw, 320px);
  }

  .mbp-767-custom-offset-5-image {
    width: 90%;
    max-width: 525px;
    position: absolute;
    right: 5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mbp-1023-custom-offset-5-text {
    top: clamp(370px, 47vw, 480px);
    width: 70%;
    max-width: none;
    margin-bottom: clamp(290px, 35vw, 480px);
  }

  .mbp-767-custom-offset-5-image {
    position: absolute;
    right: 5vw;
  }
}