/* .section-title {
  font-family: 'Univers LT 93 ExtraBlackEx', sans-serif;

} */

body:has(#seb) {
  background: black;
  height: auto;
}

[class^="column-"] + [class^="column-"] {
  margin-left: clamp(32px, calc(10px + 3vw), 64px);
}

.no-col-space [class^="column-"] + [class^="column-"] {
  margin-left: 0;
}

#seb .mega-title,
#seb .text-large > em,
#seb .text-medium > em,
#seb .section-title > em,
#seb .subtitle-text > em,
#seb .text-xlarge > em,
#seb .text-small > em
{
  color: rgba(255, 255, 255, 1);
}

#seb .text-large,
#seb .text-medium,
#seb .text-small,
#seb .faded,
#seb .section-title,
#seb .subtitle-text,
#seb .text-xlarge {
  color: rgba(255, 255, 255, .6);
}

#seb .section-highlights {
  background: rgba(255, 255, 255, .08);
}

#seb .section-highlights.lighter {
  background: rgba(255, 255, 255, .11);
}

.mega-title {
  font-size: clamp(32px, calc(20px + 3vw), 64px);
  letter-spacing: -.25px;
}

.project-title-container {
  margin-top: 150px;
}

.project-title {
  font-size: 56px;
}

.project-description {
  gap: clamp(8px, 1.35vw, 18px);
}

.hero-image {
  width: 100%;
  max-width: 1057px;
}

.more-tab {

}

.more-tab-col-1 {
  min-width: 280px;
  max-width: 420px;
}

.more-tab-col-2 {

}

.gradient-container {
  border-radius: 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: clamp(30px, 7vw, 100px) 0 0;
  background: linear-gradient(180deg, rgba(255,255,255,0.06908700980392157) 0%, rgba(255,255,255,0) 100%);
  margin-top: clamp(30px, 7vw, 100px);
}

.gradient-container div.text-center {
  display: none; 
}

.scroll-gallery {
  display: none;
}

@media screen and (max-width: 1023px) {
  /* Tablet interpretation of column widths */
  .column-6.responsive-resize {
    width: 66.67%;
  }
}

@media screen and (max-width: 639px) {
  /* Tablet interpretation of column widths */
  .column-6.responsive-resize {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  /* Tablet interpretation of column widths */
  .column-6.responsive-resize {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* Tablet interpretation of column widths */
  
  .spaceEvenly {
    justify-content: space-between;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .order-3 {
    order: 5;
  }

  .order-5 {
    order: 4;
  }

  .more-tab-col-1 {
    min-width: 313px;
  }

  .more-tab-col-1 {
    width: 100%;
    max-width: 480px;
  }

  .more-tab-col-2 {
    padding: clamp(75px, 11vw, 150px) 0 0;
    width: 33.33333%;
  }

  .more-tab-col-4,
  .more-tab-col-5 {
    margin: 24px 0 0 0;
  }

  .more-tab-col-3 {
    width: 100%;
    align-items: flex-end;
  }
  .more-tab-col-3 > div {
    max-width: 480px;
  }

  .more-tab-col-2,
  .more-tab-col-4,
  .more-tab-col-5 {
    display: none;
  }

  .gradient-container {
    padding: 24px 30px 0;
    border-radius: 20px;
    margin-top: 0;
  }

  .gradient-container .column-8 {
    width: 100%;
  }

  .gradient-container div.text-center {
    display: block;
  }

  .scroll-gallery {
    overflow-x: scroll;
    display: flex;
    padding-bottom: 20px;
  }

  .scroll-gallery .more-tab-col-2,
  .scroll-gallery .more-tab-col-4,
  .scroll-gallery .more-tab-col-5 {
    display: flex;
  }

  .scroll-gallery .more-tab-col-2 {
    min-width: 300px;
  }

  .scroll-gallery .more-tab-col-4,
  .scroll-gallery .more-tab-col-5 {
    min-width: 227px;
  }

  [class^="column-"] + [class^="column-"] {
    margin-left: 0;
  }
}